body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.Uper-Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
    padding: 10px 20px;
    font-size: 12px;
}

.location-language {
    display: flex;
    align-items: center;
    margin-left: 13%;
}

.location-language span {
    margin: 0 5px;

}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0px 10px;


}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

nav ul li img {
    width: 16px;
    height: 16px;
    vertical-align: middle;
}

/* end of upper header  */
.bootom-header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 15vh;
    margin-top: 0px;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;

}

.right-btn {
    display: flex;
    gap: 20px;
    

}

.right-btn .all-course {
    padding: 13px 20px;
    border: 1px solid #333;
    border-radius: 20px;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.right-btn .sign-in {
    padding: 13px 20px;
    border: 1px solid #333;
    border-radius: 20px;
    background-color: transparent;
    cursor: pointer;
    background-color: rgb(41, 65, 59);
    color: white;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.right-btn button:hover {
    background-color: rgb(41, 65, 59);
    color: #fff
}